* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  max-width: 80vw;
  margin: 5vh 7vw 5vh 7vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://wallpaperaccess.com/full/1213146.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 40%;
}

h1 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 2px 2px 2px #000000;
}

h2 {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  color: #1e305e;
  font-size: 1.3em;
  font-weight: 500;
  background-color: #ffe900;
  margin: 15px 0;
  padding: 5px 5px 5px 10px;
  border-radius: 10px;
}

a {
  color: #ffc918;
  text-decoration: none;
}
a:hover {
  color: #ffc400;
}

li {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  /* line-height: 1.6; */
}
